# Django settings
DJANGO_SECRET_KEY=YOUR_SECRET_KEY
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database for local Docker run:
# =postgres://plash:plash@db:5432/plash
DATABASE_URL
